<div fxFill>
  <div fxLayout="column" fxLayoutAlign="space-around stretch" fxFill>
    <div fxFlex="80" style="background-color: #ffffff; padding: 10px;">
      <mat-list fxFill class="chat-messages">
        <mat-list-item *ngFor="let m of messages" [class.msg-from-me]="m.from===nickname">
          <h4 mat-line><strong>{{m.from}}</strong></h4>
          <p mat-line>{{ m.message }}</p>
        </mat-list-item>
      </mat-list>
    </div>
    <div  fxFlex="20" style="background-color: gainsboro; padding: 10px;"
          fxLayout="row" fxLayoutAlign="space-around center">
      
      <mat-form-field fxFlex="20" >
        <input matInput placeholder="Nickname" [(ngModel)]="nickname" >
      </mat-form-field>      
      <mat-form-field fxFlex="60" >
        <input matInput placeholder="Message" [(ngModel)]="message" 
          (keyup.enter)="send()">
      </mat-form-field>      

      <button mat-button color="primary" (click)="send()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>